<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>703671276085-ca3e2na6nb8epnkjjsf6cqoolc73il52.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.703671276085-ca3e2na6nb8epnkjjsf6cqoolc73il52</string>
	<key>API_KEY</key>
	<string>AIzaSyCiQyXLbLkGAgUnQJSH3Gg1uUwQTanVKuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>703671276085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.enrRegulations</string>
	<key>PROJECT_ID</key>
	<string>hr-enr</string>
	<key>STORAGE_BUCKET</key>
	<string>hr-enr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703671276085:ios:6578206da7d913d920577c</string>
</dict>
</plist>